[Unit]
Description=Navidrome Music Server
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker-compose -f /home/ewiens/dotfiles/servers/navidrome/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /home/ewiens/dotfiles/servers/navidrome/docker-compose.yml down

[Install]
WantedBy=default.target
