configuration{
    display-drun: "Applications:";
    font: "JetBrainsMono Nerd Font Medium 10";
    icon-theme: "Papirus";
    show-icons: true;
    terminal: "wezterm";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-combi: "All";
    display-run: "Run";
    display-window: "Window";
    sidebar-mode: false;
}

@theme "~/dotfiles/rofi/.config/rofi/catppuccin-mocha.rasi"
