* { 
  font-family: "JetBrains Mono";
  font-size: 14px;
  font-weight: bold;
  /* background: transparent; */
}

tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

window#waybar {
  /* background: transparent; */
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

#window {
  color: #FFFFFF;
  /* background-color: rgba(0, 0, 0, 0.2); */
  border-radius: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px 10px;
}

#workspaces {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 20px;
}

button {
  border-radius: 20px;
}

/* button:hover { */
  /* background-color: rgba(255, 255, 255, 0.4); */
/* } */

#workspaces button {
  color: #FFFFFF;
  padding: 0px 4px;
  /* margin-left: 1px; */
  /* margin-right: 1px; */
}

#backlight,
#battery,
#clock,
#pulseaudio,
#cava,
#network,
#bluetooth,
#custom-caffeine,
#custom-wlsunset {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
  color: #FFFFFF;
  /* background-color: rgba(0, 0, 0, 0.2); */
  border-radius: 20px;
  padding: 0px 10px;
}

#custom-os_button,
#custom-power_button,
#custom-restart,
#custom-settings,
#custom-logout,
#custom-lock {
  border-radius: 20px;
  color: #FFFFFF;
  /* background-color: rgba(0, 0, 0, 0.2); */
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding: 0px 10px;
}
