* { 
  font-family: "JetBrains Mono";
  font-size: 14px;
  font-weight: bold;
  /* background: transparent; */
}

window#waybar {
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
}

#window {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 0px 10px;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* #window.empty {
  background-color: rgba(0, 0, 0, 1);
} */

#workspaces {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

button {
  border-radius: 20px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

#workspaces button {
  color: #FFFFFF;
  padding: 0px 4px;
  /* margin-left: 1px; */
  /* margin-right: 1px; */
}

#workspaces button.focused {
  background-color: rgba(0, 0, 0, 0.3);
}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.3);
  /* color: #32BEFF; */
  /* border-bottom: 2px solid #FFFFFF; */
}

/* #workspaces, */
#clock,
#pulseaudio,
#network,
#cpu,
#memory {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 0px 10px;
}

#custom-os_button {
  border-radius: 20px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding: 0px 10px;
}
