* { 
  font-family: "JetBrains Mono";
  font-size: 14px;
  font-weight: bold;
  /* background: transparent; */
}

window#waybar {
  background-color: rgba(14, 23, 35, 0.9);
  border-radius: 10px;
}

.modules-left,
.modules-center,
.modules-right {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#window {
  color: #DAD0E9;
  /* background-color: #0C131D; */
  border-radius: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px 10px;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

button {
  border-radius: 10px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

#workspaces button {
  color: #DAD0E9;
  padding: 0px 4px;
}

#workspaces button.focused {
  background-color: rgba(0, 0, 0, 0.3);
}

#workspaces button.active {
  background-color: #48445A;
  color: #B9AEE6;
  /* border-bottom: 2px solid #B9AEE6; */
}

/* #workspaces, */
#clock,
#pulseaudio,
#network,
#cpu,
#memory {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 10px;
  padding: 0px 10px;
}

#clock {
  color: #91B8E9;
  background-color: #3C4D60;
}

#network {
  color: #A87692;
  background-color: #2D2027;
}

#pulseaudio {
  color: #9DBCD0;
  background-color: #364344;
}

#custom-os_button {
  border-radius: 20px;
  color: #DAD0E9;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding: 0px 10px;
}
